@import "../../styles/theme.scss";

.header {
  height: 60px;
  width: 100%;
  background-color: $darkBlue;
  transition: 0.3s all ease-in-out;
  box-shadow: 0px 3px 12px #005ac319;
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 7px 20%;

  @media screen and (max-width: 800px) {
    height: 50px;
    margin-bottom: 20px;
    padding: 7px 15px;
  }
}

.logo {
  background-image: url("../../public/logos_png/LOGO1_white.png");
  height: 60px;
  width: 60px;
  background-size: cover;
  background-repeat: no-repeat;
}
html:not([data-scroll="0"]) .logo {
  background-image: url("../../public/logos_png/LOGO1_black.png");
}

html:not([data-scroll="0"]) .header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

.navitem {
  padding: 20px;
  color: white;
}

html:not([data-scroll="0"]) .navitem {
  color: black;
}

// .brand-logo {
//   margin-left: calc(100vw * (180 / 1920));
//   height: 45px;
//   margin-top: 6.5px;
//   width: 175px;

//   @media screen and (max-width: 800px) {
//     height: 25px;
//     margin-left: 0;
//     width: auto;
//   }
// }

// .language-phone {
//   cursor: pointer;
//   opacity: 0.5;
//   margin-right: calc(100vw * (180 / 1920));
//   text-align: right;
//   width: 175px;
//   display: none;

//   @media screen and (max-width: 800px) {
//     margin-right: 0;
//     width: auto;
//     display: block;
//   }
// }

// .language-desktop {
//   margin-right: calc(100vw * (180 / 1920));
//   text-align: right;
//   width: 175px;
//   display: flex;
//   justify-content: flex-end;

//   .option {
//     cursor: pointer;
//     margin-left: 15px;
//     opacity: 0.5;
//   }

//   .active {
//     opacity: 0.9;
//   }

//   .active:after {
//     content: " ]";
//   }

//   .active:before {
//     content: "[ ";
//   }

//   @media screen and (max-width: 800px) {
//     display: none;
//   }
// }

// .powered-text {
//   @media screen and (max-width: 800px) {
//     font-size: 14px;
//   }
// }
