@import "../../styles/theme.scss";

@mixin base-button-colors {
  border: 5px solid $purple;
  color: black;
}

.custombtn {
  @include base-button-colors();
}

.headerbtn,
.custombtn {
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
  background: none;
  border: 5px solid black;
  padding: 5px 20px;
  font-weight: bold;
}

.headerbtn {
  border: 5px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

html:not([data-scroll="0"]) .headerbtn {
  @include base-button-colors();
}
