@import "../../styles/theme.scss";

@mixin base-button-colors {
  border: 5px solid $purple;
  color: black;
}

@mixin big-button {
  font-size: 20px;
  padding: 10px 20px;
  font-weight: bold;
}

.custom_btn {
  @include base-button-colors();
}

.header_btn,
.custom_btn {
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
  background: none;
  border: 5px solid black;
  padding: 5px 20px;
  font-weight: bold;
}

.main_btn {
  @include big-button();

  border: 10px solid;
  color: white;
  border-image-slice: 1;
  border-width: 5px;
  background: none;
  border-image-source: linear-gradient(to left, $purple, #d53a9d);
}

.header_btn {
  border: 5px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

html:not([data-scroll="0"]) .header_btn {
  @include base-button-colors();
}
