@import "../../../styles/theme.scss";

.contact_form_section {
  padding: $page-padding;
  background-color: $darkBlue;
  width: 100%;
  color: white;
  padding-bottom: 80px;
  ::placeholder {
    color: white;
  }
  h2 {
    text-align: center;
    padding-top: 30px;
  }
}

.grid {
  display: flex;
  flex-direction: row;
  padding: $page-padding;
  align-items: center;
  justify-content: center;
  //flex-wrap: wrap;
}

.col4,
.col8 {
  padding-bottom: 30px;

  // box-sizing: border-box;
}
.col4 {
  flex-basis: 50%;
  max-width: 50%;
}
.col8 {
  flex-basis: 100%;
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  .grid {
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }
  .col4,
  .col8 {
    padding-left: 24px;
    padding-right: 24px;
    flex-basis: 100%;
    max-width: 100%;
  }
}

.form_input,
.form_textarea {
  font-family: $secondary-font;
  width: 100%;
  background: none;
  color: white;
}

.form_input {
  height: 48px;
  border: none;
  border-bottom: 3px solid $green;
}

.form_textarea {
  border: 3px solid $green;
  padding: 10px;
}
