@import "../../../styles/theme.scss";

.contact_form_section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: $darkBlue;
  width: 100%;
  align-items: center;
  color: white;
  padding-bottom: 60px;
  ::placeholder {
    color: white;
  }
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col4,
.col8 {
  padding: 8px 12px;
  box-sizing: border-box;
}
.col4 {
  flex-basis: 50%;
  max-width: 50%;
}
.col8 {
  flex-basis: 100%;
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  .grid {
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }
  .col4,
  .col8 {
    padding-left: 24px;
    padding-right: 24px;
    flex-basis: 100%;
    max-width: 100%;
  }
}

.form_input {
  font-family: $secondary-font;
  height: 48px;
  width: 100%;
  border: none;
  background: none;
  border-bottom: 3px solid $green;
  margin: 8px 0px;
  padding: 10px;
  color: white;
}

.form_textarea {
  font-family: $secondary-font;
  width: 100%;
  background: none;
  border: 3px solid $green;
  margin: 8px 0px;
  padding: 10px;
  color: white;
}
