@import "../../../styles/theme.scss";

.lessons_section {
  padding: $page-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  h1 {
    margin-block-end: 15px;
  }
  li {
    line-height: 25px;
  }
}

.lesson {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 1.5rem 2.5rem;
  border: 2px solid #eaeaea;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
