@import "./theme.scss";

.about_section {
  background-color: hsla(0, 0%, 91%, 0.577);
  padding: $page-padding;
  display: flex;
  h2 {
    padding-top: 100px;
    padding-right: 80px;
  }
}
.info_wrapper {
  padding-bottom: 50px;
  padding-top: 100px;
}

.info {
}
