html,
body {
  padding: 0;
  margin: 0;
  font-family: "OpenSans";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3.5rem;
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond";
}

p,
button {
  font-family: "OpenSans";
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/Open_Sans/OpenSans-ExtraBold.ttf");
  font-weight: bolder;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/Open_Sans/OpenSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/Open_Sans/OpenSans-Light.ttf");
  /* font-style: normal;
  font-weight: 400; */
  font-display: swap;
}
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf");
  /* font-style: medium;
  font-weight: 500; */
  font-display: swap;
}
