@import "./theme.scss";

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mainsection {
  display: flex;
  background-color: $darkBlue;
  height: 85vh;
  width: 100%;
  align-items: center;
  color: white;
}

.info {
  margin-left: 20%;
}

.mainimg {
  // background-image: url("../public/logos_png/LOGO1_white.png");
  // height: 60px;
  // width: 60px;
  // background-size: cover;
  // background-repeat: no-repeat;
  margin-right: 20%;
}
