@import "./theme.scss";

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_section {
  display: flex;
  justify-content: space-between;
  background-color: $darkBlue;
  height: 85vh;
  width: 100%;
  align-items: center;
  color: white;
}

.info {
  h1 {
    font-size: $biggest-text;
    text-align: center;
  }
  p {
    font-size: 20px;
  }
  margin-right: 20%;
  // margin-left: 20%;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.main_img {
  background-image: url("../public/logos_png/main_picture_2.png");
  height: 600px;
  width: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  // margin-right: 20%;
  margin-left: 20%;
}
