@import "./theme.scss";

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_section {
  padding: $page-padding;
  display: flex;
  justify-content: space-between;
  background-color: $darkBlue;
  width: 100%;
  align-items: center;
  color: white;
}

.main_picture {
  height: 600px;
  box-shadow: 30px -30px $green;
  margin: 150px 0px;
}

.description {
  text-align: center;
}

.info {
  h1 {
    font-size: $biggest-text;
    text-align: center;
  }
  p {
    font-size: 20px;
  }
  flex-direction: column;
  display: flex;
  align-items: center;
}
